<h2>User Registration</h2>
<form method='post' action='<%= users_path %>'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Full Name</label>
  <input type="text" name="user[name]" placeholder="Full Name">

  <label>Email</label>
  <input type="email" name="user[email]" placeholder="Email">

  <label>Password</label>
  <input type="password" name="user[password]">

  <label>Confirm Password</label>
  <input type="password" name="user[password_confirmation]">

  <input type="submit" value="Register">
</form>
